body{
font-family: Arial;
background:#cfe3e3;
}

.container{
display:flex;
gap:30px;
padding:40px;
}

.profile{
background:#1b1d40;
color:white;
padding:30px;
width:40%;
text-align:center;
border-radius:10px;
}

.publications{
background:#1b1d40;
color:white;
padding:30px;
width:60%;
display:grid;
grid-template-columns: repeat(3,1fr);
gap:20px;
border-radius:10px;
}

.box{
background:#d9e1e1;
color:black;
padding:20px;
text-align:center;
border-radius:10px;
font-weight:bold;
}
